<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc https://www.springframework.org/schema/mvc/spring-mvc.xsd">
    <context:component-scan base-package="com.shuangke" />
    <mvc:annotation-driven /> <!-- configure the advanced handlerAdaptor and handlerMapping to support json handling-->
    <mvc:default-servlet-handler /> <!-- forward the request to the default servlet when no handler is found, which is used to serve static resources -->

    <!--
        配置文件上传解析器(配置经理的秘书)
        id 必须为 multipartResolver，Spring MVC 会自动检测并使用它来处理文件上传请求
    -->
    <bean id="multipartResolver"
          class="org.springframework.web.multipart.support.StandardServletMultipartResolver">
    </bean>


</beans>