<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

    <context:property-placeholder location="classpath:dataSource.properties"/>

    <!-- 开启注解扫描，扫描com.shuangke包及其子包下的所有组件 -->
    <context:component-scan base-package="com.shuangke"/>

    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource">
        <property name="driverClassName" value="${jdbc.driverClassName}"/>
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
    </bean>

    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <!-- *******配置事务管理器，并开启事务*********
    1. 配置事务管理器，使用DataSourceTransactionManager，并注入数据源（加入游戏卡，可以配置多个：orm，jdbcTemplate/mybatis的。。）
    2. 开启注解驱动的事务管理，指定使用transactionManager作为事务管理器, DataSourceTransactionManager被放入IOC容器（指定具体使用哪一款游戏卡）
     -->

    <!-- 配置事务管理器，使用DataSourceTransactionManager，并注入数据源
    选中卡，我们使用jdbcTemplate 它的实现方式为DataSourceTransactionManager， mybatis也是， 如果是Hibernate我们得使用-->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <!-- 开启注解驱动的事务管理，指定使用transactionManager作为事务管理器, DataSourceTransactionManager被放入IOC容器 -->
    <tx:annotation-driven transaction-manager="transactionManager"/>
</beans>