<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc https://www.springframework.org/schema/mvc/spring-mvc.xsd">
    <context:component-scan base-package="controllers"/>
    <!--- configure an advanced version of HandlerAdapter to be able to support Json request body parsing -->
    <!--- this is required to be able to use @RequestBody annotation in the controller
     配置高级的经理适配器，以支持Json请求体解析，这是使用@RequestBody注解所必需的
     -->
    <mvc:annotation-driven/>
</beans>